/* Contenedor principal de herramientas */
.tools {
    display: flex;
    justify-content: space-between; /* Distribuye los divs con espacio entre ellos */
    align-items: flex-start; /* Alinea los divs en la parte superior */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilo para el div de búsqueda */
.search_admin {
    flex: 1;
    margin-right: 20px;
    align-self: normal;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.search_admin input {
    display: flex;
    width: -webkit-fill-available;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el div de consulta */
.tool-center {
    flex: 2; /* Ocupa el doble de espacio comparado con los otros divs */
    margin-right: 20px;
    align-self: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.consulta {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.consulta > div {
    flex: 1;
    text-align: center;
    align-self: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}



/* Estilo para el div de nuevas acciones */
.tool-new {
    flex: 1; /* Ocupa el mismo espacio que los otros divs */
    align-self: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.tool-new button {
    width: 50%;
    margin-top: 10px;
}

/* Contenido del modal */
.event-form-container {
    background-color: #363536a8;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px; /* Bordes redondeados */
    width: 50%; /* Ancho del contenido */
    color: white;
}

.calendar .today {
    border: 2px solid #7c0988;
    padding: 5px;
    color: black;
}
.calendar .today:hover, .calendar td:hover {
    background-color: #7c0988;
    color: white;
    cursor: pointer;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


.event-day {
    background-color: rgba(151, 72, 255, 0.235); /* Color de fondo amarillo */
    font-weight: bold; /* Texto en negrita */
}

.event-day:hover {
    background-color: rgb(151,72,255); /* Cambia el color de fondo */
    cursor: pointer; /* Cambia el cursor a una mano */
    /*zoom: 1.1;*/
    font-size: larger;
    padding: 8px;
    /* Puedes agregar más estilos aquí */
}